
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notification{
  padding: 10px;
  background-color: #ffff006e;
  margin-top: 10px !important;
  border-radius: 5px;

  display: flex;
}
.not-text{
  width: 90%;
}
.not-close{
  width: 10%;
  text-align: right;
  cursor: pointer;
}
p{
  margin: 0;
}
nav{
    /* background-color: green; */
}

nav >div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav  button{
  border: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
}
nav  ul{
  flex-wrap: wrap;
}
.nav-menu ul{
  list-style: none;
}
.nav-menu li{
  margin-left: 30px;
  cursor: pointer;
}
body{
  background-image: url(../assets/bg_dot.png);
  background-position: center;
}
.nav-menu li{
    color:black;
}

.logo{
    /* background-color: #c9deff; */
    /* padding: 10px 20px; */
    /* border-radius: 15px; */
}
.user_promo_div > div{
  display: flex;
  width: 100%;
}
.user_promo_div button{
  width: 20%;
  border: none;
  background-color: #d0ffd0;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  outline: none;
  transition: 0.7s;
}
.user_promo_div button:hover{
  background-color: #86e986;
}
.user_promo_div input{
  width: 80%;
      border-radius: 5px 0 0 5px !important;
}
@font-face {
    font-family: logoFont;
    src: url(../assets/fonts/Helvetica-Bold.ttf);
  }
  @font-face {
    font-family: GilroyBold;
    src: url(../assets/fonts/Gilroy-Bold.ttf);
  }
  @font-face {
    font-family: GilroyMedium;
    src: url(../assets/fonts/Gilroy-Medium.ttf);
  }@font-face {
    font-family: GilroyRegular;
    src: url(../assets/fonts/Gilroy-Regular.ttf);
  }

  .logo{
    font-family: logoFont;
    font-weight: bold;
  }

  .logo p{
    margin: 0;
  }
.logo1{
color:#4ca2cd;

}.logo2{
    color:#000000;

}
.select-language{
  background: transparent;
  border: none;
  outline: none;
}
.centering{
  width: 80%;
  margin: 0 auto;
}
.first_section{
  background-color: #4ca2cd;
  display: flex;
  justify-content: space-between;

  padding: 50px 0 0 50px;
  border-radius: 30px;

}
.first_text{
  width: 50%;
}
.first_bg_img{
  width: 30%;
  text-align: right;
}
.first_bg_img img{
  max-width: 100%;
  width: 100%;
}

.first_text .title{
  font-family: 'GilroyBold';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 72px;
/* identical to box height */


color: #000000;
}

.first_text .description{
  font-family: 'GilroyMedium';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;

color: #000000;
}

.main-main{
  margin-top: 50px
}

.coins{
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.form_form{
  width: 65%;
}









.form{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}


.coin{
    display: flex;
    margin: 20px 10px 20px 0;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.coin:hover{

  background-color: #c9deff !important;
}
.coin img{
    width: 40px;
    margin-right: 10px;
}

.coin p{
    margin: 0;
}

.coin_text{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .select-language option{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
.select-language img{
    width: 25px;
}

.real_form{
  /* background-color: white; */
}
.form_top{
  display: flex;
}

.form_top > div{
  margin-right: 20px
}
.real_form_form{
  margin-top: 13px;
  background-color: white;
  border-radius: 10px
}

.send_receive_inputs{

  padding: 10px 30px;
}
.send_receive_inputs > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}
.send_receive_inputs input,.user_wallet{
  background-color: #f3f4f5;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  width: 100%;

}

.switchBtn{
  display: flex;justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.inputDiv{
  width: 49%;
}


.exchange_button_div button{
  width: 100%;
  border: none;
  padding: 20px;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
  font-family: 'GilroyRegular';
  border-radius: 5px;
  transition: 1s;
}
.exchange_button_div button:hover{
  background-color: #363535;
}

.coinInfo{
  margin-bottom: 10px;
  color: gray;
}

.switchBtn{
  margin-top: 20px;
}
.terms_div{
  align-items: center;
display: flex;
justify-content: center !important;
text-align: center;
}

.terms_div p{
  text-align: center;
  font-size: 15px;
color: gray;
}

.searchCoin{
    width: 80%;
    background-color: #d9dbdd;
    border: none;
    padding: 3px;
    border-radius: 5px;
    outline: none;
}

#error,#errorEmail,#errorWallet{
    color: red;
    font-weight: 500;
    margin: 5px 0;
    font-size: 13px;
}
.user_email_div,.user_wallet_div{
  display: block !important;
}
#errorEmail,#errorWallet{
  display: none;
}

.wrongInput{
  background-color: #7c9aef !important;
}



footer{
  margin: 20px 0 10px 0;
}
footer>div{
  display: flex;
  justify-content: space-between;
}

footer img{
  max-width: 100px;
}

.tg_support{
    position: fixed;
     bottom: 20px;
     right: 20px;
     cursor: pointer;
}

footer > div > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1820px) {
.first_text .description{
  font-size: 30px;
}
.first_text .title{
  font-size: 45px;
}
}



@media screen and (max-width: 1570px) {
  .first_bg_img {
    width: 40%;
  }
  .first_text {
    width: 55%;
  }
.first_text .description{
  font-size: 25px;
}
.first_text .title{
  font-size: 35px;
}
}
@media screen and (max-width: 1444px) {
.first_text {
  width: 70%;
}
.first_text .description{
  line-height: 30px;
}
.first_section{
  padding-top: 40px;
}
}
@media screen and (max-width: 1364px) {
.first_bg_img {
  width: 40%;
}
.first_text {
  width: 50%;
}
.terms_div p{
  font-size: 14px;
}
}
@media screen and (max-width: 1236px) {
.coins{
  width: 40%;
}
.form_form{
  width: 55%;
}
.terms_div p{
  font-size: 11px;
}
.inputs_inputs{
  display:  block !important;
}
.inputDiv{
  width: 100%;
}
#switchBtn svg{
  transform: rotate(90deg)
}
}@media screen and (max-width: 1124px) {
  .first_text .description{
    line-height: 30px;
  }
  .first_bg_img {
    width: 50%;
  }
  .form_top p{
    font-size: 14px;
  }
  /* .send_receive_inputs{
    padding: 30px;
  } */
}
@media screen and (max-width: 1000px) {
  .first_text .description{
    font-size: 20px;
  }
  .first_text .title{
    font-size: 30px;
  }
  .first_section{
    padding-top: 30px;
  }
  .coins{
    width: 50%;
  }
  .form_form{
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .nav-menu li{
    margin-left: 0px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 930px) {
  .form{
    display: block;
  }
  .coins{
    width: 100%;
  }
  .coins,.send,.receive{
    display: none;
  }
  .form_form{
    width: 100%;
  }
  .mobileCoin{
    width: 80px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .mobileInputDiv{
    display: flex;
  }
  .mobileHide{
    display: none !important;
  }
}@media screen and (max-width: 930px) {
  .first_text {
    width: 60%;
  }
  .first_text .description{
    line-height: 25px;
  }
  .first_text .title{
    line-height: 50px;
  }
}
@media screen and (max-width: 820px) {
  .first_section{
    padding-left: 30px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 780px) {
  .first_bg_img {
    width: 70%;
  }
  .first_text {
    width: 70%;
  }
  .first_text .description{
    line-height: 20px;
  }
  .first_text .title{
    font-size: 25px;
  }
  .user_promo_div button{
    width: 30%;
  }
  .user_promo_div input{
    width: 70%;
  }
}
@media screen and (max-width: 711px) {

  .first_text {
    width: 80%;
  }
  .first_text .title{
    line-height: 40px;
  }
  .first_section{
    border-radius: 20px;
  }
}
@media screen and (max-width: 708px) {

  .first_text {
    width: 90%;
  }
  .first_bg_img {
    width: 80%;
  }
  .first_text .title{
    font-size: 20px;
  }
  .first_text .description{
    font-size:  18px;
  }
}
@media screen and (max-width: 640px) {

  .first_section{
    padding-left: 10px;
    padding-top: 10px;
  }
  .first_section{
    border-radius: 10px;
  }
  .terms_div p{
    font-size: 9px;
  }
}
@media screen and (max-width: 620px) {

  .first_section  {
    background-image: url(../assets/first_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .first_text{
    width: 100%;
  }
  .first_bg_img{
    display: none;
  }
  .first_text .description{
    font-size:  15px;
    padding: 10px;
    background-color: #ffffff94;
    border-radius: 10px;
  }
  .centering{
    width: 90%;
  }
}